.strava-box{
 background-color: white;
 box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0 2px 0 0 rgba(0, 0, 0, 0.03);
 border-radius: 5px;
 padding: 18px 5px;
 margin: 20px 0px;

}

.link-form{
margin-left: auto !important;
margin-top: 20px;
}

.mapbox{
 background-color: white;
 box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0 2px 0 0 rgba(0, 0, 0, 0.03);
 border-radius: 5px;
 padding: 10px;
}


