  @media (min-width: 576px) {
  .container {
    max-width: 560px;
  }
}
  @media (min-width: 768px) {
  .container {
    max-width: 760px;
  }
}
  @media (min-width: 992px) {
  .container {
    max-width: 980px;
  }
}
  @media (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
}




// SEARCH BAR

.search-container {
  color: grey;
  font-size: 16px !important;
  font-weight: 100 !important;
  padding-top: 10px;
  padding-bottom: 16px;


  .container {
    padding-right: 0;
    padding-left: 0;
  }



  .ais-search-box--input {
    border-radius: 10px;
    border: 1px solid #d4d8e3;
    box-shadow: 0 0 4px #0000002b !important;
  }

  .row {
      margin-left: 0;
      margin-right: 0;
    }

}


// SEARCH BY NAME
.main-search-container {
  // border: 1px solid black;

  min-width: 300px;

  input {
    padding-left: 40px;
    font-size: 14px;
  }

  ::placeholder {
    color: gray;
    // padding-left: 30px;
  }

  .row {
      margin-left: 0;
      margin-right: 0;
    }
}



// SEARCH BY CATEGORY

.category-search-container {
  // border: 1px solid black;
  margin-top: 12px;




    .ais-refinement-list--list {
      display: flex !important;
    }
    .ais-refinement-list--label {
      color: gray;
      margin-right: 58px;
      font-weight: 100 !important;
      position: relative;
      text-align: left;
    }
    .ais-refinement-list--label:hover {
      color: gray;
    }



    .ais-refinement-list--count {
      position: absolute;
      top: 1px;
      right: -30px;
      background-color: #96C04D;
      color: white;
      font-size: 10px;
      padding: 0;
      text-align: center;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      box-shadow: 1px 1px 4px #0000002b !important;
    }
    .ais-refinement-list--checkbox {
      // display: none;

    }

    .aisdemo-filter-title {
      font-size: 14px;
      width: 100%;
      margin-bottom: 10px !important;
    }
}



// SEARCH BY DISTANCE
.distance-search-container {
  // border: 1px solid black;

  .rheostat-background {
    border: 0 solid white;
  }

  .rheostat-progress {
    background-color: #96C04D;
  }

  // KM indicators
  .ais-range-slider--tooltip {
    background-color: #96C04D;
    color: white;
    padding: 4px 10px;
    min-width: 60px;
    border-radius: 20px;
    top:-32px;
    right: -20px;
  }

  // rounded handlers
  .ais-range-slider--handle {
    border: 1px solid #96C04D;
    box-shadow: 1px 1px 4px #0000002b !important;
  }

  // progress bar (inside of handlers)
  .ais-range-slider .rheostat-progress {
    background-color: #96C04D !important;
  }

  // progress bar inactive (outside of handlers)
  .ais-range-slider .rheostat-horizontal .rheostat-progress {
    height: 6px;
    top: 0;
  }
  .ais-range-slider .rheostat-background {
    border: 0 solid white;
    background-color: #c5c5c5;
  }
  .ais-range-slider .rheostat {
      margin-top: 58px;
      margin-bottom: 0;
    }
}




// SEARCH BY DATE

.date-search-container {
  // border: 1px solid black;



  .daterange {
    border-radius: 10px;
    border: 1px solid #d4d8e3;
    box-shadow: 0 0 4px #0000002b !important;
  }
  .dr-input {
    border-radius: 10px;
    border: 0 solid #d4d8e3;
    box-shadow: none !important;
  }

  .dr-date {
    font-size: 12px !important;
  }

  h3 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 100;
  }

  .dr-day, .dr-day-of-week, .dr-range-switcher, .dr-list-item {
    font-size: 14px !important;
  }

  .dr-item-aside {
    display: none;
  }
}








// CARDS AND MAP

#results {
  padding: 0 ;
  background-color: #fbfbfb;
}

.main-container {
  display: block;
  justify-content: space-between;
}

.card-wrapper {
  flex: 1 0 auto;
  margin-top: 10px;

  a:hover {
    text-decoration: none;
  }
}

.map-container {
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
}


#map {
  // width: 100vh !important;
  // height: 100vh !important;
}


@media (min-width: 768px) {
  .main-container {
    display: flex;
  }
}

