.race-info-box{
  display:flex;
  justify-content: space-between;
  width: 200px
}


.basic-info-row{
  border-bottom: rgb(183, 181, 181) 1px solid;
  margin-bottom: 40px
}

.race-show-container{
  padding-top: 35px;
}

.race-info-text{
 color: #96C04D;
 font-weight: bolder
}
