

<div class="container py-5">
  <div class="row py-4">
    <div class="col-sm-12 text-center">
      <h1 class="step-title">Insert Your Organisation</h1>
    </div>
    <%= render 'form' %>
  </div>
</div>

