<header>
  <div>
   <input id="search-input" placeholder="Search for races">
   <!-- We use a specific placeholder in the input to guides users in their search. -->
    <div class="row aisdemo-filter">
          <div class="col-sm-2 aisdemo-filter-title">Race Categories</div>
          <div id="race_categories"></div>
        </div>

    <div class="row aisdemo-filter">
          <div class="col-sm-2 aisdemo-filter-title">Distance Range</div>
          <div class="col-sm-9" id="distance"></div>
        </div>

 </div>
</header>
<main>
  <div id="hits"></div>

  <div class="col-sm-5 aisdemo--right-column">
    <div id="map"></div>
  </div>
</main>

<script type="text/html" id="hit-template">
  <div class="hit">

    <p class="hit-name">{{{_highlightResult.name.value}}}</p>
    <p class="hit-name">{{{_highlightResult.category.value}}}</p>
    <!-- <p class="hit-name">{{{_highlightResult.distance.value}}}</p> -->
    <!-- can not display distance because it is an integer so we should some how convert it to a string -->
   </div>
</script>

