

<div class="banner">
  <div class="banner-content">
    <%= image_tag "rundb_logo_white_shad.png", class: "logo-banner" %>
    <div class="fixed-block">
      <h2>Build your unique race experience</h2>
    </div>
    <%= link_to "Start now", races_path, class: "button-start" %>
  </div>
</div>

<p class="discover">Discover races near you</p>

<!-- bouncing arrow
-->

<div class="arrow bounce">
  <%= image_tag "arrow_down.png", class: "arrow_down"%>

</div>

<div class="card-race-wrapper">
  <div class="container">
    <div class="row">
      <% 10.times do %>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">

        <div class="card-race">
          <div class="card-race-header" style="background-image: url('http://res.cloudinary.com/dxkimzdwk/image/upload/v1519895648/suuntoutmb.jpg')">

            <p class="card-race-title">Race name</p>

            <i class="fas fa-map-marker-alt card-race-marker"></i>

            <p class="card-race-location">race location</p>

            <div class="star-container">
                <% 3.times do %>
                  <i class="fas fa-star card-race-star"></i>
                <% end %>
                <% (5 - 3).times do %>
                  <i class="far fa-star card-race-star"></i>
                <% end %>
              </div>

            <i class="far fa-heart card-race-favorite"></i>


          </div>


          <div class="card-race-body">
            <p class="element">category</p>
            <p class="element">100 km</p>
            <p class="element last">10 reviews</p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

