.alert{
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0px;
  border: 1px solid #10101000;
  border-radius: 0.25rem;
  font-weight: 300;
  font-family: roboto;
  font-size: 16px;
}
