

.button-start {
  box-shadow: 1px 5px 21px #00000078;
  font-size: 20px;
  text-decoration: none;
  width: 160px;
  border-radius: 32px;
  padding: 15px 25px 13px;
  margin: auto;
  margin-top: 78px;
  color: white;
  font-family: "Poppins", "sans-serif";
  display: block;
  background-image: linear-gradient(190deg, #96C04D, #74c04d);
  transition: all 0.3s cubic-bezier(0.12, 0.64, 0.25, 1);
}

.button-start:hover {
  text-decoration: none;
  color: white;
  transform: scale(1.02);

}

// LOGIN BUTTON
.button-login {
  margin-top: 25px;
  width: 112px;
  margin-bottom: 23px;
  padding-top: 5px;
  height: 41px;
}

.fb-login-button{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 16px;
}

.password-recovery-btn{
  color: rgb(45, 44, 44);
}

.password-recovery-btn:hover{
  text-decoration:none;
  text-color: rgb(45, 44, 44);
}
// REGISTRATION BUTTON

.button-register {
  box-shadow: 0 5px 40px #30b2e473;
  font-size: 20px;
  text-decoration: none;
  width: 220px;
  border-radius: 32px;
  padding: 15px 25px 13px;
  margin: auto;
  // margin-top: 40px;
  color: white;
  font-family: "Poppins", "sans-serif";
  display: block;
  background-image: linear-gradient(190deg, #34b0d8, #30a6cc);
  transition: all 0.3s cubic-bezier(0.12, 0.64, 0.25, 1);
  border: none !important;
}

.button-register:hover {
  text-decoration: none;
  color: white;
  transform: scale(1.02);

}


//CALL TO ACTION ORGANIZER

.button-orga-start {
    font-size: 12px;
    border: 1px solid #ee5f5b;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px;
    margin: auto;
    margin-right: 30px;
    color: #f8f9fa;
    font-family: "Poppins", "sans-serif";
    display: block;
    background-color: #ee5f5b;
    transition: all 0.3s cubic-bezier(0.12, 0.64, 0.25, 1);
}

.button-orga-start:hover {
  text-decoration: underline;
  text-decoration-color: #f8f9fa;
  color: #f8f9fa;
}


// ORGANIZER ACTIONS ON RACE SHOW PAGE

.organizer-actions-button {
  padding: 6px 10px;
  margin: 0 6px;
  text-decoration: none;
  color: #a9a9a9;
  background-color: white;
  border: 1px solid #a9a9a9;
  font-family: "Roboto", "sans-serif";
  border-radius: 30px;
}
.organizer-actions-button:hover {
  text-decoration: none;
  color: grey;

}

// ADD A REVIEW

.add-review-button {
  padding: 6px 10px;
  margin: 0 auto;
  text-decoration: none;
  color: #58ACD2;
  background-color: white;
  border: 1px solid #58ACD2;
  font-family: "Roboto", "sans-serif";
  font-weight: 100;
  border-radius: 30px;
  box-shadow: none;
  transition: all 0.3s cubic-bezier(0.12, 0.64, 0.25, 1);
}
.add-review-button:hover {
  text-decoration: none;
  color: #58ACD2;
  background-color: #e0f5ff;
  border: 1px solid #58ACD2;

}

// EDIT ACTIONS ON PROFILE

.profil-button {
  padding: 2px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  color: #a9a9a9;
  background-color: white;
  border: 1px solid #a9a9a9;
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  border-radius: 30px;
}

.profil-button:hover {
  text-decoration: none !important;
  color: #a9a9a9;

}

a:hover {
  text-decoration: none;
}




