// MAIN CARDS

.card-race-wrapper {
  margin: 20px 0px;
  a:hover {
    text-decoration: none;
  }
}
.card-race {
  background-color: white;
  padding: 0;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0 2px 0 0 rgba(0, 0, 0, 0.03);
  margin-bottom: 30px;
  border-radius: 8px;
  min-height: 230px;
  transition: all 200ms ease-in;

}

.card-race:hover {
  z-index: 2;
  transform: scale(1.06);
  transform: translateY(-6px);
}



.card-race-header {
  min-height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-race-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;

  p {
    font-size: 14px;
  }
}

.card-race-body p {
  margin-bottom: 10px;
  margin-top: 10px;
  color: gray;
  font-weight: 100;
}

.card-race-title {
  max-width: 200px;
  font-family: "Poppins", "sans-serif";
  font-size: 20px;
  color: #fffffff0;
  position: absolute;
  top: 8px;
  left: 14px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.28);
}

.card-race-location {
  font-size: 16px;
  color: #fffffff0;
  position: absolute;
  top: 38px;
  left: 30px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.34);
}
.card-race-marker {
  font-size: 16px;
  color: #fffffff0;
  position: absolute;
  top: 40px;
  left: 14px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.34);
}

.card-race-favorite {
  font-size: 22px;
  color: #fffffff0;
  position: absolute;
  top: 14px;
  right: 14px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.34);
}

.star-container {
  position: absolute;
  top: 64px;
  left: 14px;
}

.card-race-star {
  font-size: 14px;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.34);
}

.card-race-body .element {
  flex: 1 1 auto;
  display: inline-block;
  border-right: 1px solid #dadada;
  min-width: 60px;
  text-align: center;
}

.last {
  border-right: 0px solid #dadada !important;
}


.card-race-header a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  position: absolute;
  top: 4px;
  left: 14px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.64);
}
