.modal-login{
  background-color: rgb(247, 247, 247);
  border-radius: 10px
}

.modal-header-custom{
border-bottom: none !important;
}


.modal-position{
  margin-top: -80px
}


.modal-position{
  input{
    border-radius: 8px;
    font-size: 15px;
    font-weight: 300;
  }
  select{
    border-radius: 8px
  }

}
