/* Main navbar */
.navbar-rundb {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  width: 100%;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 10;
  opacity: 0.94;
}

/* Logo */
.navbar-rundb-logo {
  color: #79b71b;
  font-size: 18px;
}
.navbar-rundb-logo:hover {
  color: #79b71b;
  text-decoration: none;
}

/* User Avatar */
.navbar-rundb .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-rundb-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-rundb-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-rundb-link {
  font-family: "Poppins", "sans-serif";
  font-size: 12px;
  padding: 0 10px;
  color: #585858 !important;
  cursor: pointer;
}
.navbar-rundb-link:hover {

  color: black;
  text-decoration: none;
}

.orga-call {
  font-family: "Poppins", "sans-serif";
  font-size: 12px;
  padding: 0 10px;
  color: #96C04D;

}


/* Dropdown menu */
.navbar-rundb-dropdown-menu {
  margin-top: 20px;
  box-shadow: 0 0px 20px #0000004a;
  border-radius: 4px;
  border: 0 solid red !important;
}
.navbar-rundb-dropdown-menu li > a {
  transition: color 0.3s ease;
  // font-weight: lighter !important;
  color: #6f6f6f !important;
  font-size: 12px !important;
  line-height: 22px !important;
  padding: 10px 10px;
  font-family: "Poppins", "sans-serif";
  cursor: pointer;
}

.dropdown-toggle{
  cursor: pointer;
}

.navbar-rundb-dropdown-menu li > a:hover {
  background: transparent !important;
  color: #6f6f6f !important;
}
.navbar-rundb-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -4px;
  background-color: white;
  transform: rotate(45deg);
  border: 0 solid red !important;
}
